*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}
@import url('http://fonts.cdnfonts.com/css/roboto');
  html, body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: black;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
  
    }
    #back-to-top.show {
        opacity: 1;
        visibility: visible;
    }
    #back-to-top {
        display: inline-block;
        background-color: #fff;
        width: 3.25rem;
        height: 3.25rem;
        text-align: center;
        border-radius: 50%;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        border: 2px solid #111;
    } 
    #back-to-top:hover{
        background-color: #111;
    }
    #back-to-top i:hover{
        color: #fff;
    }

    #back-to-top i {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 40px;
        color: #111;
        text-align: center;
       
    }

   .header{
    padding:2rem 45px;
    width: 100%;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    position: relative;
    z-index: 110;
     }
   .header nav{
    float: right;
    }
    
   /* Harmburger*/
   .phone{
   display: none;
   }
   
   .phone-header{
    background-color: #ffffff;
    width: 100%;
    z-index: 3;
}
.phone-header ul{
    list-style: none;
    overflow: hidden;
    background: #ffffff;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: bold;
    position: relative;
    left: 1.25rem;

}
.phone-header ul a{
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: #000;
    padding-left: 0;
    
}
.outline-divider{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    border-bottom: 1px solid #888;
}

.phone-header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
.fa-bars{
    position: absolute;
    top:0.5rem;
    left: 2rem;
}
.phone-header .menu-btn{
    display: none;
}
.phone-header .menu-btn:checked ~ .menu{
    max-height: 818px;
    max-width: 40rem;
    padding: 0!important;

}
.phone .fa{
    float: right;
    position: absolute;
    top: 0;
    right: 37px;
    font-size: 60px;

}
.phone-header .menu-btn:checked ~ .menu-icon .nav-icon{
 background: transparent;
}
.phone-header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
}
.phone-header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
}

  .branding li{
    float: left;
    display: inline;
    padding: 0.5rem 1.75rem 0 20px;
    text-transform: uppercase;
    font-size:0.875rem ;
    font-weight: bold;
   }
  .branding a{
    color: rgb(22, 22, 22);
    position: relative;
    text-decoration: none;
   }
  .lists:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
   }
   .lists:hover:after{
    width: 100%;
   }
  

 /*Showcase*/

 #showcase {
    margin-top: 12vh;
 }
 
 #showcase img {
    display: block;
    margin:2rem  auto;
 }
    /* @-webkit-keyframes fadeInLeft {
     0%{
         opacity: 0;
         -webkit-transform: translateX(-100px);
     }
     100%{
        opacity: 1;
        -webkit-transform: translateX(0)
     }
    } */
  
  .image{
      z-index: 2;
      margin-top: -45rem;
    margin-left: 76rem;
  }
  .get-in-touch h1{
      text-transform: uppercase;
      text-align: center;
      margin: 5vh;
      font-size: 4vh;
    }
    .get-in-touch{
        text-align: center;
        margin-top: 250px;
    }
    .service{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-left: 15px;
    justify-content: center;
    }
    span{
        color:#cf0819;
    }
    span a{
        text-decoration: none;
    color: grey;
    font-style: italic;
    letter-spacing: 0.5px;
    }
    
    .service h2{
        color: #231f20;
        font-family: poppins,sans-serif;
        font-size: 62px;
        margin: 20px 0px 20px 0px;
        line-height: 65px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -.62px;
        text-transform: uppercase;
        -webkit-text-stroke: 1px #231f20;
    -webkit-text-fill-color: transparent;
    }
       .services h3{
           text-transform: uppercase;
           text-justify: auto;
           font-family: poppins,sans-serif;
           font-weight: bold;
           margin:0px 10vh 10px 0px;
           font-size: 25px;
           width: 202px;
           } 
        .service p{
            font-style: italic; 
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #24091182;
            letter-spacing: 2px;
        }
        .services{
            padding: 30px 20px 10px 20px;
        }
        /*About*/
        #about{
            display: flex;
            position: relative;
            margin: 5vh;
            box-sizing: border-box;
            margin: 10vh 0;
    
        }
        .theme-container{
            display: flex;
            justify-content: flex-start;
    align-items: center;
        }
        .textabout{
            float: right;
            width: 38%;
            padding-left: 50px;
        }
        .textabout h3{
            font-weight: bold;
            font-size: 6vh;
        }
        .textabout p{
            color:  #686868;
        }
       
        .button_1{
         color: #231f20;
        font-family: poppins,sans-serif;
     border-color: #231f20;
    font-size: 18px;
    line-height: 58px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    letter-spacing: 0;
    text-transform: uppercase;
    border-width: 1px;
    padding-left: 64px;
    padding-right: 64px;
        }
        /*Works*/
        .worksimg{
            margin-bottom: 11vh;
        }
       
        .work-container{
            display: flex;
            max-width: 1200px;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 0px 300px;
            position: relative;

        }
        .works-container{
            position: relative;
          }
        .works-container img{
            width: 370px;;
            object-fit:cover;
            object-position:bottom;
            padding: 8px;
           
        }
        .overlay {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            opacity: 0;
            transition: .5s ease;
            background-color: #000000
          }
          
          .works-container:hover .overlay {
            opacity: 1;
          }
          
          .text {
            color: white;
            font-size: 20px;
            font-family: poppins sans-serif;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
          }
          /*Awards*/
          #awards{
              background-color: #f9f5f1;
              padding-bottom: 80px;
              width: 100%;
          }
          /* #awards img{
            -webkit-animation: fadeInLeft 1.2s both;
        }
        @-webkit-keyframes fadeInLeft {
         0%{
             opacity: 0;
             -webkit-transform: translateX(-100px);
         }
         100%{
            opacity: 1;
            -webkit-transform: translateX(0)
         }
        } */
          .awards-list{
              margin: 20px 0px 20px 300px;
              display: flex;
    flex-direction: column;
    justify-content: center;
}
          
          #awards h4{
            color: #231f20;
            font-family: poppins,sans-serif;
            font-size: 32px;
            line-height: 36px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: uppercase;
            margin: 0px;
            padding: 5px
          }
          #awards p{
            color: #686868;
            font-family: roboto,sans-serif;
            font-size: 16px;
            line-height: 27px;
            font-style: italic;
            font-weight: 300;
            letter-spacing: .5px;
            text-transform: none;
            margin: 0px;
            margin-right: 20px;
            padding: 5px 10px;
          }
          .divider{
              background-color: black;
              display: inline-block;
              height: 1px;
              margin: 15px 0;
          }
          /*Ongoing*/
          /* #ongoing{
              margin: 20vh 0 ;
          }
          #ongoing img{
            -webkit-animation: fadeInLeft 1.2s both;
        }
        @-webkit-keyframes fadeInLeft {
         0%{
             opacity: 0;
             -webkit-transform: translateX(-100px);
         }
         100%{
            opacity: 1;
            -webkit-transform: translateX(0)
         }
        } */
          .ongoing-container{
              margin-left: 270px;
          }
          .textongoing{
            float: left;
            width: 65ch;
            padding: 20px 0px 20px 20px;
            margin-right: 15px;
            flex-wrap: wrap;
        }
        .ongoingtheme img{
            margin-top: -172px;
        }
        .textongoing h3{
            font-weight: bold;
            font-size: 6vh;
            width: 100%;
        }
        .button_1{
         color: #231f20;
        font-family: poppins,sans-serif;
     border-color: #231f20;
    font-size: 18px;
    line-height: 58px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    background-color: transparent;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    letter-spacing: 0;
    text-transform: uppercase;
    border-width: 1px;
    padding-left: 64px;
    padding-right: 64px;
        }
        /*News*/
        /* #news img{
            -webkit-animation: fadeInLeft 1.2s both;
        }
        @-webkit-keyframes fadeInLeft {
         0%{
             opacity: 0;
             -webkit-transform: translateX(-100px);
         }
         100%{
            opacity: 1;
            -webkit-transform: translateX(0)
         }
        } */
        .new-container{
            display: flex;
            max-width: 1152px;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 0px 300px;
            position: relative;
            box-sizing: border-box;
        }
        .news-container img{
            width: 370px;
            object-fit:cover;
            object-position:bottom;
            padding: 8px;
            margin-bottom: 20px;
           
        }
        .news-container h5{
            color: #231f20;
            font-family: poppins,sans-serif;
            font-size: 32px;
            line-height: 36px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: uppercase;
            margin: 0px;
          }
          .news-container p{
            color: #686868;
            font-family: roboto,sans-serif;
            font-size: 16px;
            line-height: 27px;
            font-style: italic;
            font-weight: 300;
            letter-spacing: .5px;
            text-transform: none;
            margin: 0px;
            margin-right: 20px;
          }
          /*Contact*/
          #contact{
            background-color: #f9f5f1;
            margin-top: 18vh;
            border-bottom: 1px solid #000;
            padding-bottom: 50px;
            width: 100%;
        }
        /* #contact img{
            -webkit-animation: fadeInLeft 1.2s both;
        }
        @-webkit-keyframes fadeInLeft {
         0%{
             opacity: 0;
             -webkit-transform: translateX(-100px);
         }
         100%{
            opacity: 1;
            -webkit-transform: translateX(0)
         }
        } */
        .contacts{
            display: flex;
            max-width: 1100px;
           margin: 30px auto;
        }
        .mail{
            display: grid;
        }
        #email{
       
            padding: 7px 7px;
        }
        .form-control{
            background-color: transparent!important;
   border: 1px solid #000!important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    color: #111;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600!important;
    letter-spacing: 0;
    
    margin-top: 0;
    margin-bottom: 0;
        }
        .form-control:focus{
            border: 1px solid #000!important;
            outline: none;
        }
        .-form-control{
            font-family: FontAwesome;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    height: 100%;
    line-height: 1em;
    background-color: transparent;
    border-color: transparent;
    border-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #231f20;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 38px;
        }
        .contact-text{
            margin-right: 15px;
            padding: 25px;
        }
        .contact-text h6{
            color: #231f20;
            font-family: poppins,sans-serif;
            font-size: 18px;
            line-height: 36px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0;
            text-transform: uppercase;
            margin: 10px 0;
            display: inline-block;
           padding-right: 50px;
           border-bottom: 1px solid #000;
           margin-bottom: 10px;
        }
       .contact-text h{
    color: #231f20;
    font-family: poppins,sans-serif;
    font-size: 32px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    
           }
          .contact-text p{
            color: #686868;
            font-family: roboto,sans-serif;
            font-size: 16px;
            line-height: 27px;
            font-style: italic;
            font-weight: 300;
            letter-spacing: 0;
            text-transform: none;
            margin: 0px;
            margin-right: 20px;
          }
          .separator{
              margin-bottom: 21px;
          }
          .ongoingtheme, .nimage, #awards, #works {
            margin-bottom: 6rem;
 
        }
        .n4{
            display: none;
        }
          /*footer*/
          footer{
              background-color: #f9f5f1 ;
              text-align: center;
              padding: 20px;
              width: 100%;
          }

        /*Media Queries*/
        /* @media only screen and (min-width: 425px) and (max-width: 769px) {
            #showcase{
                padding-top: 30vh;
            }
            .branding{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 25px;
            }
            .branding img{
                width: 30%;
            }
            nav{
                display: none;
            }
            .get-in-touch{
                
            }
           
           
            .container img,
            .worksimg,
            #awards img,
            #ongoing img,
            .nimage,
            .showcase-container img{
                width: 100%;
                
            }
            .works-container img{
                width: 220px;
            }
            .work-container,
            .ongoing-container,
            .ongoingtheme img,
            .awards-list{
                margin: 0;
            }
            .theme-container{
                flex-direction: column;
            }
            .textabout,
            .textongoing{
                width: auto;
            }
            .image{
                top: -190vh;
                width: 40%;
                position: relative;
                float: right;
            }
            h1{
                margin-top: 136px;
                font-size: 8vh;
            }
        } */
        @media screen and (min-width: 901px) and (max-width:1025px) {
            ul{
                padding-left: 0!important;
                margin-top: 0.5rem!important;
            }
            #showcase{
                padding-top: 15vh;
            }
            .showcase-container img{
                max-width: 70%;
                margin: 0 0 0 2rem!important;
            }
            .image {
                z-index: 2;
                margin-top: -19rem;
                margin-left: 41rem;
                width: 50%;
            }
            .get-in-touch{
                margin-top: 0rem;
            }
            .get-in-touch h1{ 
                font-size: 2.5rem;
                font-weight: 700;
            }
            .service{
                    align-content: none;
    padding-left: 0;
    justify-content: none;
    width: 105%;
    margin: 9rem  auto;
            }
            .services{
                padding: 0;
            }
            .theme-container{
                width: 100%;
            }
            .webtheme {
                width: 58%;
                margin-top: -13rem;
            }
            .textabout h3, .textongoing h3{
                font-size: 10vh
            }
            .work-container{
                margin: 0;
            }
            .works-container img {
                width: 320px;
            }
            .awards-list{
                margin-left: 0!important;
            }
            .ongoingtheme img{
                width: 60%;
                margin: -40rem 0 0 20rem;
                
            }
            .ongoing-container {
                margin-left: 8rem;
            }
            .new-container {
                margin: 0 auto;
            }
            .news-container img {
                width: 20rem;
            }
        }
        @media screen and (min-width:426px) and (max-width: 900px) {
            .phone{
                display: contents;
            }
            .phone .fa {
                left: 42rem;
                font-size: 2.5rem;
            }
            .fa-bars{
                font-size: 2.5rem;
                left: 4rem;
            }
            .phone-header ul {
                font-size: 2.5rem;
                margin-top: 2rem;
                left: 4rem;
        
            }
            .phone-header .menu-btn:checked ~ .menu {
             font-size: 1.5rem;
            }
            .header{
                margin: 2rem auto;
                padding: 0;
            }
            .header nav{
                display: none;
            }
            .branding{
                display: flex;
                justify-content: center;
               
            }
            .branding img{
                width: 30%;
            }
           
            #showcase {
                margin-top: 7rem!important;
            }
            .showcase-container img {
                margin-left: 1rem!important;
                width: 100%;}
           .image{
                margin-left: 26rem;
                margin-top: -24rem;
            }
            .get-in-touch {
                margin-top: 0rem;
            }
            .get-in-touch h1 {
                font-size: 2rem;
                font-weight: 700;
            }
            .services h3{
                width: 20rem;
            }
            .service{
                width: 52rem;
                justify-content: flex-start;
                padding: 0;
            }
            #about > .about-container > img, .textabout, .worksimg, #awards img, #ongoing img, .nimage, #contact img, .webtheme img{
                width: 100%;
            }
          .theme-container,  .ongoingtheme, .contacts{
                flex-direction: column;
                
               
            }
            .textabout h3 {
                font-size: 11vh;
                padding-bottom : 2rem;
        }
            .textongoing h3 {
                font-size: 11vh;
                padding-bottom : 2rem;
        }
            .textabout p{
                padding-bottom: 2rem;
            }
            .work-container{
                margin: 0;
            }
            .works-container img {
                width: 214px;
        }
        .awards-list {
            margin-left: 1.5rem!important;
        }
        .ongoingtheme img, .ongoing-container {
            margin: 0!important;
        }
        .textongoing{
            display: flex;
    justify-content: flex-end;
    margin-left: 10rem;
    text-align: right;
        }
        .new-container{
            width: 70%;
            margin-left: 7rem!important;
        }
        /* .news-container img{
            width: 17.5rem;
        } */
        .n3{
            display: none;
        }
        .n4{
            display:block
        }
       

    }
        @media screen and (max-width: 426px) {
            .phone{
                display: contents;
            }
            .header{
                margin: 2rem auto;
                
            }
            .header,  .service, .theme-container, .work-container, .new-container, .ongoingtheme, .contacts, .services{
                padding: 0;
            }  
            
            .header nav{
                display: none;
            }
            .branding{
                display: flex;
                justify-content: center;
            }
            .image{
                left: 73rem;
            }
           .showcase-container .image{
               display: none;
           }
           .showcase-container img{
               width: 80%;
           }
            #about > .about-container > img, .textabout, .worksimg, #awards img, #ongoing img, .nimage, #contact img{
               width: 100%;
           }
           .textabout{
               padding-left: 20px;
           }
           .textabout h3, .textabout p{
            margin-bottom: 2rem;
           }
           
           .textabout h3{
               font-size: 2.44rem;
              
           }
           .webtheme img{
               width: 100%;
           }
           .phone .fa{
               display: none;
           }
           .service, .theme-container, .work-container, .new-container, .ongoingtheme, .contacts{
               flex-direction: column;
               
              
           }
           .textongoing{
               float: none;
           }
           /* .work-container{
               margin: 0;
           } */
           .get-in-touch,   .work-container, .awards-list, .ongoing-container, .ongoingtheme, .ongoingtheme img, .awards-list, .new-container, .news-container img, #contact{
               margin: 0 auto!important;
               
           }
           .awards-list{
               margin-top: 2rem!important;
           }
           .get-in-touch h1{
               margin-top: 0;
           }
            .get-in-touch p{
               width: 25ch;
               margin: 0 auto;
            }
           .service h2{
               font-size: 2.5rem;
           }
           .service h3{
               margin: 0!important;
               font-size: 1.5rem;
               width: 20ch;
            }
            .textongoing h3{
                width: 15ch;
                line-height: 2.75rem;
                font-size: 2.5rem;
                font-family: poppins, sans-serif;
                text-align: end;
            }
            .textongoing p{
                width: 39ch;
                color: #686868;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                line-height: 27px;
                font-style: normal;
                font-weight: 300;
                text-align: end;
                margin: 2rem 0 2rem 2rem;
            }
            .button_1{
                margin: 1rem auto 1rem 11.5rem;
            }
          
            .news-container h5{
                padding: 2rem 0;
            }
            .news-container p{
                padding-bottom: 4rem;
            }
            .n2, .n3{
                margin-left: 1rem;
            }
        }

           
       
        @media screen and (max-width:376px) {
           .get-in-touch h1{
               font-size: 5vh;
           }
           .branding img {
                margin-left: 2.5rem!important;
           }
           .contact-text {
            padding: 0;
           }
           /* .branding img{
               margin-left: .5rem;
           } */
           
        .button_1 {
            margin: 1rem auto
        }
           .textongoing >  .button_1 {
            margin: 1rem auto 1rem 7.5rem;
        }
        .textongoing{
            padding: 1.25rem 0 0 0;
        }
        .works-container img {
            width: 100%;
           
        }
        .textongoing h3{
            font-size: 2rem;
            
        }
        .textongoing p{
            width: 29ch;
        }
        .news-container img {
            width: 100%;
        }
        .ongoingtheme img{
            width: 89%!important;
        }
        .n2, .n3{
            margin-left: 0;
        }
    }
        

        @media screen and (max-width:321px) {
           
            #awards, #news, #contact,   footer{
                max-width: 100%;
            }
            .get-in-touch{
                margin-left: 1.5rem!important;
           }
           
           .button_1 {
            margin: 1rem auto
             }
           .textongoing >  .button_1 {
            margin: 1rem auto 1rem 6.5rem;
            }
            .textongoing h3{
                font-size: 2rem;
                text-align: center;
            }
            .textongoing p{
                text-align: center;
                /* margin-left: 0!important; */
                width: 29ch;
            }
        }
